nav {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(images/header-bg.jpg) 0 0 repeat-x;
    background-position: 100% 100%;
    /*border-bottom: solid 1px #275da1;*/
}

nav h1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
}

section, nav{
	display: block;
}

p {
    margin-bottom: 20px;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

#main-content h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 2.8em;
	font-weight: normal;
	color: #474747;
	text-indent: 6px;
	letter-spacing: -1px;
}

#main-content h1::before {
	content: "/";
	padding-right: 0.3em;
	margin-left: -0.9em;
	color: #9ddcff;
}

#main-content h2{
	margin-bottom: 8px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 22px;
	font-weight: bold;
	color: #474747;
	text-indent: 4px;
}

#main-content h2::before {
    padding-right: 0.3em;
    margin-left: -1.5em;
    content: "//";
    color: #9ddcff;
}

/*header a.button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background: transparent url(images/github-button.png) 0 0 no-repeat;
}

a.button {
    width: 134px;
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff;
}

a:hover {
    color: #2268b2;
}

a:active, a:hover {
    outline: 0;
}*/




/* Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */
 #sse1 {
  /*You can decorate the menu's container, such as adding background images through this block*/
  background-color: #222;
  height: 38px;
  padding: 15px;
  border-radius: 3px;
}
#sses1 {
  margin:0 auto;
  /*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}
#sses1 ul {
  position: relative;
  list-style-type: none;
  float:left;
  padding:0;
  margin:0;
  border-bottom:solid 1px #6C0000;
}
#sses1 li {
  float:left;
  list-style-type: none;
  padding:0;
  margin:0;
  background-image:none;
}
/*CSS for background bubble*/
 #sses1 li.highlight {
  background-color:#800;
  top:36px;
  height:2px;
  border-bottom:solid 1px #C00;
  z-index: 1;
  position: absolute;
  overflow:hidden;
}
#sses1 li a {
  height:30px;
  padding-top: 8px;
  margin: 0 20px;
  /*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
  color: #fff;
  font: normal 12px arial;
  text-align: center;
  text-decoration: none;
  float: left;
  display: block;
  position: relative;
  z-index: 2;
}