header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(images/header-bg.jpg) 0 0 repeat-x;
    background-position: 100% 100%;
    border-bottom: solid 1px #275da1;
}

header h1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
}

section, header{
	display: block;
}

p {
    margin-bottom: 20px;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

#main-content h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 2.8em;
	font-weight: normal;
	color: #474747;
	text-indent: 6px;
	letter-spacing: -1px;
}

#main-content h1::before {
	content: "/";
	padding-right: 0.3em;
	margin-left: -0.9em;
	color: #9ddcff;
}

#main-content h2{
	margin-bottom: 8px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 22px;
	font-weight: bold;
	color: #474747;
	text-indent: 4px;
}

#main-content h2::before {
    padding-right: 0.3em;
    margin-left: -1.5em;
    content: "//";
    color: #9ddcff;
}

header a.button {
    /*position: absolute;*/
    /*top: 0;
    right: 0;*/
    margin-right: auto;
    margin-left: auto;
    background: transparent url(images/github-button.png) 0 0 no-repeat;
}

a.button {
    width: 134px;
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    /*font-size: 23px;*/
    line-height: 1.2;
    color: #fff;
}

a:hover {
    color: #2268b2;
}

a:active, a:hover {
    outline: 0;
}